<h1>index</h1>
<a href="/twitter/index.html">Protected URL by Twitter: twitter/index.html</a> (use a real account)<br />
<a href="/cas/index.html">Protected URL by CAS: cas/index.html</a> (use login = pwd)<br />
<a href="/protected/index.html">Protected URL: protected/index.html</a><br />
<br />
<a href="/dba/index.html">Protected url by DirectBasicAuthClient: /dba/index.html</a> (POST the <em>Authorization</em> header with value: <em>Basic amxlbGV1OmpsZWxldQ==</em>)<br />
<br />
<a href="logout?url=/?forcepostlogouturl">local logout</a><br/>
<br />
<a href="/info.html">info.html</a><br/>
<br /><br />
profiles: {{profiles}}<br />
<br />
sessionId: {{sessionId}}
